body{
    background: url("../images/matrix.jpg");
}

#wrapper{
    background-color: rgba(255, 217, 0, 0.753);
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    width: 960px;
}

#title{
    color:blue;
    margin-bottom: 50px;
}

#wrapper2{
    display: none;
}

#start, #startO{
    background-color: pink;
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.options{
    margin: 20px;

}
#question{
    margin-top: 30px;
}

img{
    height: 100px;
    width: 200px;
    margin-left: 40%;
}